root = true

[*.java]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.scala]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_standard_no-wildcard-imports = disabled

[example/kotlinlib/linting/**/*]
ktlint = disabled

[example/kotlinlib/config/4-linting/**/*]
ktlint = disabled

[kotlinlib/test/resources/contrib/ktfmt/**/*]
ktlint = disabled

[kotlinlib/test/resources/kotlin-js/foo/test/src/foo/**/*]
ktlint = disabled
