/*/target/
target/
output/
.DS_STORE
.idea_modules
.idea
.vscode/
.zed/
out/
/.bloop/
/.metals/
mill.iml
.bsp/
bsp.log
lowered.hnir
.dotty-ide*
node_modules/
*.bak
mill-assembly.jar
mill-native
*.mill.orig
*.mill.rej

# Eclipse JDT related files
.project
.classpath
.settings/
example/**/bin/
integration/**/bin/
