registry=https://registry.npmmirror.com

# Use scoped private/alternative & set authentication
# @private/package-name:registry=private.repo.com/:_authToken=your-auth-token

# Optional:  on private/alternative registry
# .../:_authToken=your-auth-token