
{{!
    Reduce space taken up by toolbar:

    * Make it position:fixed so it floats over the main article
}}
<div class="toolbar" role="navigation" style="position: fixed; top: 2.5rem; height: 2rem; left: 0px;">
{{> nav-toggle}}
</div>
