
{{!
    Reduce space taken up by toolbar:

    * Make it position:fixed so it floats over the main article
    * Split it into two, left and right, to avoid blocking the middle of the page
}}
<div class="toolbar" role="navigation" style="position: fixed; top: 2.5rem; height: 2rem; left: 0px;">
{{> nav-toggle}}
</div>
<div class="toolbar" style="position: fixed; top: 2.5rem; height: 1.5rem; right: 0px; ">
{{> edit-this-page}}
</div>
