lib_managed
project7/boot
project7/plugins/src_managed
project7/plugins/project
project/boot
project/build/target
project/plugins/lib_managed
project/plugins/project
project/plugins/src_managed
project/plugins/target
target
.ensime
.ensime_lucene
TAGS
\#*#
*~
.#*
.lib
.ensime_cache
.idea
