name: ci-push-validation
on: [push, pull_request]
jobs:
  test-release-jdk8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '8'}
      - run: ci/test-mill-release.sh

  test-dev-jdk11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '11'}
      - run: ci/test-mill-dev.sh

  test-bootstrap-0-jdk8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '8'}
      - run: ci/test-mill-bootstrap-0.sh
  test-bootstrap-1-jdk9:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '9'}
      - run: ci/test-mill-bootstrap-1.sh

  test-0-jdk10:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '10'}
      - run: curl https://raw.githubusercontent.com/scala-native/scala-native/master/scripts/travis_setup.sh | bash -
      - run: ci/test-mill-0.sh
  test-1-jdk8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '8'}
      - run: ci/test-mill-1.sh
  test-2-jdk11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '11'}
      - run: ci/test-mill-2.sh

  release-github:
    runs-on: ubuntu-latest
    env:
      REPO_ACCESS_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '9'}
      - run: ci/on-master.py ci/release-github.sh
  release-maven:
    runs-on: ubuntu-latest
    env:
      SONATYPE_PGP_SECRET: ${{ secrets.SONATYPE_PGP_SECRET }}
      SONATYPE_DEPLOY_USER: ${{ secrets.SONATYPE_DEPLOY_USER }}
      SONATYPE_DEPLOY_PASSWORD: ${{ secrets.SONATYPE_DEPLOY_PASSWORD }}
      SONATYPE_PGP_PASSWORD: ${{ secrets.SONATYPE_PGP_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '9'}
      - run: ci/on-master.py ci/release-maven.sh
  publish-docs:
    runs-on: ubuntu-latest
    env:
      REPO_DEPLOY_KEY: ${{ secrets.REPO_DEPLOY_KEY }}
    steps:
      - uses: actions/checkout@v2
        with: {fetch-depth: 0}
      - uses: actions/setup-java@v1
        with: {java-version: '10'}
      - run: ci/on-master.py ci/publish-docs.sh
