name: 'autofix'
on:
  pull_request:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./mill -i mill.scalalib.scalafmt.ScalafmtModule/

      - run: git config --global user.email "you@example.com"
      - run: git config --global user.name "Your Name"
      - run: git commit -am "autofix" --allow-empty

      - run: echo "git@github.com:${{ github.event.pull_request.head.repo.full_name }}.git"
      - run: echo ${{ github.event.pull_request.head.ref }}
      - run: echo "git@github.com:${{ github.event.pull_request.head.repo.full_name }}.git" > .autofix-repo
      - run: echo ${{ github.event.pull_request.head.ref }}:${{ github.event.pull_request.head.ref }} > .autofix-branch
      - run: rm -rf out

      - uses: actions/upload-artifact@v4.5.0
        with:
          path: .
          name: autofix-artifacts
          include-hidden-files: true