name: 'push autofix'
on:
  workflow_run:
    workflows: ['autofix']
    types:
      - completed
permissions:
  contents: write
jobs:
  report:
    runs-on: ubuntu-latest
    env:
      REPO_DEPLOY_KEY: ${{ secrets.REPO_DEPLOY_KEY }}
    steps:
      - uses: dawidd6/action-download-artifact@v7
        with:
          run_id: ${{ github.event.workflow_run.id }}
          workflow_conclusion: ""
          name: autofix-artifacts

      - run: cat .autofix-repo
      - run: cat .autofix-branch
      - run: >
          if git diff --quiet HEAD~1; then
            echo "The latest commit is empty (no changes)."
          else
            git show
            echo $REPO_DEPLOY_KEY | base64 --decode > deploy_key

            eval "$(ssh-agent -s)"
            chmod 600 deploy_key
            ssh-add deploy_key
            rm deploy_key
            git push "$(cat .autofix-repo)" "$(cat .autofix-branch)"
          fi
