name: 'autofix.ci'
on:
  pull_request:
jobs:
  autofix:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: sbt/setup-sbt@v1

      - run: |
          ./mill __.fix + mill.javalib.palantirformat.PalantirFormatModule/ + mill.scalalib.scalafmt.ScalafmtModule/scalafmt + mill.kotlinlib.ktlint.KtlintModule/

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8