name: dependency-graph

on:
  push:
    branches:
      - main

jobs:
  submit-dependency-graph:
    # doesn't work on Mill 0.12.x yet
    #if: github.repository == 'com-lihaoyi/mill' && github.ref == 'refs/heads/main'
    if: false
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
    
      - uses: coursier/cache-action@v7
    
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      # We want to see the transmitted graph in the logs
      - run:  ./mill --import ivy:io.chris-kipp::mill-github-dependency-graph::0.2.5 showNamed io.kipp.mill.github.dependency.graph.Graph/generate

      # Actually upload the graph
      - uses: ckipp01/mill-dependency-submission@v1
