name: post-build-selective
on:
  workflow_call:
    inputs:
      millargs:
        default: ''
        type: string
      java-version:
        required: true
        type: string
      os:
        default: 'ubuntu-latest'
        type: string
      timeout-minutes:
        default: 60
        type: number
      install-android-sdk:
        default: false
        type: boolean

jobs:
  run:
    runs-on: ${{ inputs.os }}
    continue-on-error: false
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/post-build-setup
        with:
          java-version: ${{ inputs.java-version }}
          os: ${{ inputs.os }}

      - uses: actions/download-artifact@v4
        with:
          path: .
          name: ${{ inputs.os }}-artifact

      - uses: actions/download-artifact@v4
        with:
          path: out/mill-selective-execution
          name: ${{ inputs.os }}-selective-execution-artifact

      - run: mv out/mill-selective-execution/mill-selective-execution.json out/mill-selective-execution.json

      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - uses: android-actions/setup-android@v3
        if: ${{ inputs.install-android-sdk }}
        with:
          log-accepted-android-sdk-licenses: false

      - run: git diff ${{ github.base_ref }} --

      - run: ./mill -i -k selective.resolve ${{ inputs.millargs }}

      - run: ./mill -i -k selective.run ${{ inputs.millargs }}

      - run: 'taskkill -f -im java* && rm -rf out/mill-server/*'
        if: startsWith(inputs.os, 'windows')
        shell: bash
        continue-on-error: true
