name: post-build-selective

env:
  FORCE_COLOR: '1'

on:
  workflow_call:
    inputs:
      millargs:
        default: ''
        type: string

      shell:
        required: true
        type: string

      java-version:
        required: true
        type: string
      os:
        default: 'ubuntu-latest'
        type: string
      extra:
        default: ''
        type: string
      timeout-minutes:
        default: 60
        type: number
      setup-android:
        default: false
        type: boolean
      install-sbt:
        default: false
        type: boolean
      install-xvfb:
        default: false
        type: boolean

jobs:
  run:
    runs-on: ${{ inputs.os }}
    continue-on-error: false
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: coursier/cache-action@v7

      - uses: actions/download-artifact@v6
        with:
          path: .
          name: ${{ inputs.os }}-artifact

      - uses: ./.github/actions/post-build-setup
        with:
          java-version: ${{ inputs.java-version }}
          os: ${{ inputs.os }}

      - uses: ./.github/actions/setup-android
        if: ${{ inputs.setup-android }}

      - uses: sbt/setup-sbt@v1
        if: ${{ inputs.install-sbt }}
      - run: |
          sudo apt-get install -y xvfb      
          export DISPLAY=:99
          Xvfb :99 -screen 0 1024x768x16 &
          echo "DISPLAY=:99" >> $GITHUB_ENV
        if: ${{ inputs.install-xvfb }}

      - uses: ./.github/actions/post-build-selective

        with:
          millargs: ${{ inputs.millargs }}
          shell: ${{ inputs.shell }}
          extra: ${{ inputs.extra }}