on:
  workflow_call:
    inputs:
      compileargs:
        default: '__.compile'
        type: string
      prepareargs:
        default: '__.test'
        type: string
      java-version:
        default: '11'
        type: string
      os:
        type: string
      timeout-minutes:
        default: 60
        type: number

jobs:
  run:
    runs-on: ${{ inputs.os }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: temurin

      # For normal PR jobs, just checkout the base_ref the PR is against
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.base_ref }}
        if: ${{ !(github.event_name == 'push' && github.repository != 'com-lihaoyi/mill') }}

      # For fork push jobs, first checkout the version being pushed, then look for the
      # merge-base where the current version forks off from the upstream main branch
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
        if: ${{ github.event_name == 'push' && github.repository != 'com-lihaoyi/mill' }}

      - run: |
          set -eux
          git fetch https://github.com/com-lihaoyi/mill main
          MERGE_BASE=$(git merge-base FETCH_HEAD HEAD)
          # pretty-print the path between the FETCH_HEAD (main), HEAD, and the merge-base
          git log --graph --pretty=format:"%h %ar %s %n" --ancestry-path $(git merge-base head main)^1..head  $(git merge-base head main)^1..main
          git checkout $MERGE_BASE
        shell: bash
        if: ${{ github.event_name == 'push' && github.repository != 'com-lihaoyi/mill' }}

      - run: echo temurin:${{ inputs.java-version }} > .mill-jvm-version

      - run: chmod -R 777 . # normalize permissions before and after upload/download-artifact

      - run: mkdir out && touch out/mill-selective-execution.json
        shell: bash

      - run: cat .mill-jvm-version

      - run: ./mill -i -k selective.prepare ${{ inputs.prepareargs }}
        if: ${{ (github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'run-all-tests')) || github.repository != 'com-lihaoyi/mill' }}

      - uses: actions/upload-artifact@v4.6.0
        with:
          path: out/mill-selective-execution.json
          name: ${{ inputs.os }}-selective-execution-artifact
          include-hidden-files: true

      - uses: actions/checkout@v4

      - uses: coursier/cache-action@v6

      - run: ./mill -i -k ${{ inputs.compileargs }}

      - uses: actions/upload-artifact@v4.6.0
        with:
          path: .
          name: ${{ inputs.os }}-artifact
          include-hidden-files: true
