name: Build with Mill

on:
  workflow_call:
    inputs:
      buildcmd:
        default: ''
        type: string
      millargs:
        default: ''
        type: string
      java-version:
        required: true
        type: string
      os:
        default: 'ubuntu-latest'
        type: string
      continue-on-error:
        default: false
        type: boolean
      populate_cache:
        default: false
        type: boolean
      timeout-minutes:
        default: 60
        type: number
      env-bridge-versions:
        default: 'none'
        type: string
      install-android-sdk:
        default: false
        type: boolean

jobs:
  run:
    runs-on: ${{ inputs.os }}
    continue-on-error: ${{ inputs.continue-on-error }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    env:
      MILL_COMPILER_BRIDGE_VERSIONS: ${{ inputs.env-bridge-versions }}

    steps:
      - uses: actions/checkout@v4
        if: ${{ inputs.populate_cache }}

      - uses: actions/download-artifact@v4
        if: ${{ !inputs.populate_cache }}
        with:
          path: .
          name: ${{ inputs.os }}-artifact

      # Need to fix cached artifact file permissions because github actions screws it up
      # https://github.com/actions/upload-artifact/issues/38
      - name: chmod executable
        run: "chmod -R +x ."

      - uses: coursier/cache-action@v6

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: temurin

      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - uses: android-actions/setup-android@v3
        if: ${{ inputs.install-android-sdk }}
        with:
          log-accepted-android-sdk-licenses: false

      - name: Prepare git config
        run: |
          git config --global user.name "Mill GithHub Actions"
          git config --global user.email "mill-ci@localhost"

      - name: Run '${{ inputs.buildcmd }}'
        run: ${{ inputs.buildcmd }}
        if: inputs.buildcmd != ''

#      - name: Selective Resolve Mill Tasks '${{ inputs.millargs }}'
#        run: ./mill -i -j3 -k selective.resolve ${{ inputs.millargs }}
#        if: inputs.millargs != '' && !startsWith(inputs.os, 'windows') && !inputs.populate_cache
#
#      - name: Selective Run Mill Tasks '${{ inputs.millargs }}'
#        # Mill tests are pretty heavy so run them only 3x parallel on 4 core Github Actions runners
#        run: ./mill -i -j3 -k selective.run ${{ inputs.millargs }}
#        if: inputs.millargs != '' && !startsWith(inputs.os, 'windows') && !inputs.populate_cache

      - name: Populate Cache '${{ inputs.millargs }}'
        # Mill tests are pretty heavy so run them only 3x parallel on 4 core Github Actions runners
        run: ./mill -i -j3 -k ${{ inputs.millargs }}
        if: !startsWith(inputs.os, 'windows') && inputs.populate_cache

      - name: Run Mill (on Windows) '${{ inputs.millargs }}'
        run: cmd /C %GITHUB_WORKSPACE%\mill.bat -i -j3 -k ${{ inputs.millargs }}
        if: inputs.millargs != '' && startsWith(inputs.os, 'windows')

      - name: Run Mill (on Windows) Worker Cleanup
        run: 'taskkill -f -im java* && rm -rf out/mill-server/*'
        if: inputs.millargs != '' && startsWith(inputs.os, 'windows')
        shell: bash
        continue-on-error: true

      - name: Prepare Selectice Testing Data
        run: ./mill -i -j3 -k selective.prepare __.test
        if: ${{ inputs.populate_cache }}

      - uses: actions/upload-artifact@v4.4.3
        with:
          path: .
          name: ${{ inputs.os }}-artifact
          include-hidden-files: true
        if: ${{ inputs.populate_cache }}
