on:
#  schedule:
#    - cron: '0 0 * * *' # daily
  workflow_dispatch:

name: Scala Steward

permissions:
  contents: write
  pull-requests: write

jobs:
  scala-steward:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - uses: scala-steward-org/scala-steward-action@v2.78.0
        with:
          mill-version: '1.1.0-RC2-40-0576e4'
